.player {
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 10px 15px;
  width: 600px;
  margin: auto auto;
}
.player p {
  font: 12px monospace;
  padding: 5px 0;
  margin: 0;
}
.player h1,
.player ol > li {
  margin: 5px 0;
  font-family: "Helvetica Neue", "Helvetica";
}
.player .albums {
  display: none;
}
.player .tracks {
  display: none;
}
.player .playing {
  font-weight: bolder;
}
.player ol > li,
.player .play {
  font-size: 12px;
}
.player h1 {
  font-size: 24px;
}
#music {
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 10px 15px;
}
